/* menu section */
#menu {
  display: flex;
  max-width: 1360px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  font-style: normal;
  margin-top: -80px;
}


.menu__offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;

  h1 {
    max-width: 800px;
    color: $color-text-dark;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    @include heading-2;

    span {
      color: $color-text-accent;
      @include heading-2(true);
    }

    @media (max-width: 767px) {
      @include mobile-heading-2;
      span {
        @include mobile-heading-2(true);
      }
    }
  }
}


.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  button {
    display: flex;
    padding: 8px 16px 8px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid $color-border-light;
    background-color: $color-background-body;
    transition: all 0.3s;

    & > strong {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-border-light;
      text-align: center;
      font-feature-settings: 'clig' off, 'liga' off;
      @include linkButton;
      border-radius: 100px;
      transition: all 0.3s;
    }

    span {
      color: $color-text-dark;
      font-feature-settings: 'clig' off, 'liga' off;
      @include linkButton;
      transition: all 0.3s;
    }

    @media (min-width: 1024px) {
      &:hover {
        @include tabs-active;
      }
    }
  }

  button.active {
    @include tabs-active;
  }

  @media (max-width: 370px) {
    flex-direction: column;
  }
}


.menu__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
  row-gap: 40px;

  @media (max-width: 1439px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 1089px) {
    grid-template-columns: repeat(2, 1fr);
    .product-card:nth-child(n+5) {
      display: none;
    }
  }

  @media (max-width: 699px) {
    grid-template-columns: repeat(1, 1fr);
  }
}


.product-card {
  cursor: pointer;
  display: flex;
  height: 506px;
  width: 308px;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  border: 1px solid $color-border-light;
  background-color: $color-background-body;

  @media (max-width: 370px) {
    width: 100%;
    max-width: 308px;
  }
}


.product-card__image {
  width: 308px;
  height: 310px;
  flex-shrink: 0;
  border-radius: 40px;
  
  @media (max-width: 370px) {
    width: 100%;
    max-width: 308px;
  }
}

.product-card__description {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  font-style: normal;
  font-weight: 400;
  color: $color-text-dark;
  font-feature-settings: 'clig' off, 'liga' off;

  h4 {
    @include heading-3;
  }

  p {
    @include medium;
  }
}


.refresh {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid $color-border-dark;
  background-color: $color-background-body;

  @media (min-width: 1090px) {
    display: none;
  }
}


.refresh.hidden {
  display: none;
}

