html {
  scroll-behavior: smooth;
}


body {
  overflow-x: hidden;
  font-family: 'Inter';
  display: flex;
  flex-direction: column;
  max-width: 1360px;
  margin: 20px auto 40px auto;
  padding: 0 40px;
  justify-content: center;
  align-items: center;
  gap: 100px;
  background-color: $color-background-body;

  @media (max-width: 767px) {
    padding: 0 20px;
  }
}

body.lock {
  overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}